/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/toogle.png");
    }
    .menu {
        text-align: right;
    }
    .header-content h4 {
        padding-top: 25px;
        padding-bottom: 0;
        font-size: 20px;
    }
    .header-content h2 {
        font-size: 40px;
        padding-bottom: 34px;
    }
    .btn-custome {
        padding: 10px 50px;
    }
    #header-area {
        padding-top: 50px;
        height: 78vh;
    }
    #development-part {
        padding: 20px 0;
    }
    .service-content h2 {
        font-size: 40px;
        padding-bottom: 10px;
        text-align: center;
    }
    .service-content p {
        color: #777777;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .service-content .first-para {
        padding-bottom: 5px;
    }
    .service-img {
        padding-top: 3%;
    }
    #branding-part {
        padding: 10px 0;
    }
    .service-img {
        padding-top: 3%;
        padding-bottom: 5%;
    }
    #feature-part {
        padding: 0;
    }
    .feature-icon {
        margin: auto;
    }
    .feature-content {
        text-align: center;
    }
    .feature-content h2 {
        font-size: 30px;
        padding-top: 10px;
    }
    .feature-info {
        padding-top: 1rem !important;
    }
    .feature-content p {
        font-size: 17px;
        line-height: 23px;
        width: 100%;
        padding: 0 60px;
    }
    #client-part {
        padding: 26px 0;
        background-color: #f5f0f0;
    }
    .client-info::before {
        content: '';
        position: absolute;
        top: -21%;
        left: 48%;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-bottom: 26px solid #fbfbfb;
        border-right: 13px solid transparent;
    }
    .client-info-second::after {
        content: '';
        position: absolute;
        top: 99%;
        left: 48%;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-top: 26px solid #fbfbfb;
        border-right: 13px solid transparent;
    }
    .client-info-second {
        width: 100%;
        padding: 38px 30px 38px 30px;
        margin-left: 0;
    }
    .client-img2 img {
        margin-left: 0;
    }
    .client-title h2 {
        font-size: 45px;
    }
    .client-title {
        padding-bottom: 15px;
    }
    .client-info {
        width: 100%;
        padding: 38px 30px 38px 30px;
    }
    .client-img {
        padding-bottom: 40px;
    }
    .client-info q {
        font-size: 18px;
        line-height: 27px;
    }
    .client-info q {
        font-size: 15px;
    }
    .client-part-second {
        padding-top: 30px;
    }
    .client-info-second {
        width: 100%;
        padding: 38px 30px 38px 30px;
    }
    .client-info-second q {
        font-size: 18px;
        line-height: 27px;
    }
    .client-info-second p {
        font-size: 15;
    }
    .client-img2 {
        padding-top: 55px;
    }
    #team-part {
        padding: 35px 0;
    }
    .common-title p {
        padding-bottom: 25px;
    }
    .tem-info {
        padding-bottom: 30px;
    }
    .tem-part-bottom p {
        padding: 0% 10%;
    }
    #footer-part {
        padding: 20px 0;
        background-color: #7690c5;
        text-align: center;
    }
    .contact-address ul {
        text-align: center;
    }
    .pt {
        padding-top: 1rem !important;
        padding-bottom: 1rem;
    }
    .btn-custome2 {
        width: 100%;
    }
    #footer-part hr {
        margin-top: 50px;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/toogle.png");
    }
    .menu {
        text-align: right;
    }
    .header-content h4 {
        padding-top: 40px;
        padding-bottom: 0;
        font-size: 25px;
    }
    .header-content h2 {
        font-size: 46px;
        padding-bottom: 60px;
    }
    #development-part {
        padding: 20px 0;
    }
    .service-content h2 {
        font-size: 40px;
        padding-bottom: 10px;
        text-align: center;
    }
    .service-content p {
        color: #777777;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .service-content .first-para {
        padding-bottom: 5px;
    }
    .service-img {
        padding-top: 3%;
    }
    #branding-part {
        padding: 10px 0;
    }
    .service-img {
        padding-top: 3%;
        padding-bottom: 5%;
    }
    #feature-part {
        padding: 0;
    }
    .feature-icon {
        margin: auto;
    }
    .feature-content {
        text-align: center;
    }
    .feature-content h2 {
        font-size: 30px;
        padding-top: 10px;
    }
    .feature-info {
        padding-top: 1rem !important;
    }
    .feature-content p {
        font-size: 17px;
        line-height: 23px;
        width: 100%;
        padding: 0 60px;
    }
    #client-part {
        padding: 26px 0;
        background-color: #f5f0f0;
    }
    .client-info::before {
        content: '';
        position: absolute;
        top: -21%;
        left: 48%;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-bottom: 26px solid #fbfbfb;
        border-right: 13px solid transparent;
    }
    .client-info-second::after {
        content: '';
        position: absolute;
        top: 99%;
        left: 48%;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-top: 26px solid #fbfbfb;
        border-right: 13px solid transparent;
    }
    .client-info-second {
        width: 100%;
        padding: 38px 30px 38px 30px;
        margin-left: 0;
    }
    .client-img2 {
        padding-top: 60px;
    }
    .client-img2 img {
        margin-left: 0;
    }
    .client-img {
        padding-bottom: 40px;
    }
    .client-title h2 {
        font-size: 45px;
    }
    .client-title {
        padding-bottom: 15px;
    }
    .client-info {
        width: 100%;
        padding: 38px 30px 38px 30px;
    }
    .client-info q {
        font-size: 18px;
        line-height: 27px;
    }
    .client-info q {
        font-size: 15px;
    }
    .client-part-second {
        padding-top: 30px;
    }
    .client-info-second {
        width: 100%;
        padding: 38px 30px 38px 30px;
    }
    .client-info-second q {
        font-size: 18px;
        line-height: 27px;
    }
    .client-info-second p {
        font-size: 15;
    }
    #team-part {
        padding: 35px 0;
    }
    .common-title p {
        padding-bottom: 25px;
    }
    .tem-info {
        padding-bottom: 30px;
    }
    .tem-part-bottom p {
        padding: 0% 10%;
    }
    #footer-part {
        padding: 20px 0;
        background-color: #7690c5;
        text-align: center;
    }
    .contact-address ul {
        text-align: center;
    }
    .btn-custome2 {
        width: 100%;
    }
    .pt {
        padding-top: 1rem !important;
    }
    #footer-part hr {
        margin-top: 50px;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/toogle.png");
    }
    .menu {
        text-align: right;
    }
    .header-content h4 {
        padding-top: 40px;
        padding-bottom: 2px;
        font-size: 30px;
    }
    .header-content h2 {
        font-size: 60px;
        padding-bottom: 70px;
    }
    #development-part {
        padding: 50px 0;
    }
    .service-content h2 {
        padding-bottom: 15px;
        text-align: center;
    }
    .service-content .first-para {
        padding-bottom: 8px;
    }
    .service-content p {
        font-size: 17px;
    }
    .service-img {
        padding-top: 4%;
    }
    #branding-part {
        padding: 25px 0;
    }
    #feature-part {
        padding: 20px 0;
    }
    .feature-icon {
        margin-left: 118px;
        margin-bottom: 18px;
    }
    .feature-info {
        padding-top: 3rem !important;
        text-align: center;
    }
    .feature-content p {
        font-size: 17px;
        line-height: 23px;
        width: 100%;
        padding: 0 20px;
    }
    #client-part {
        padding: 30px 0;
    }
    .client-title {
        padding-bottom: 25px;
    }
    .client-img img {
        width: 150px;
        height: 150px;
    }
    .client-info-second {
        margin-bottom: 40px;
    }
    #team-part {
        padding: 40px 0;
    }
    .common-title p {
        padding-bottom: 30px;
    }
    .tem-info {
        padding-bottom: 35px;
    }
    .tem-part-bottom p {
        padding: 0 21%;
    }
    #footer-part {
        padding: 30px 0;
        background-color: #7690c5;
        text-align: center;
    }
    .contact-address {
        padding-bottom: 26px;
    }
    .pt {
        padding-top: 1rem !important;
        text-align: center;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .header-content h4 {
        padding-top: 0;
    }
    .header-content h4 {
        padding-top: 0;
        padding-bottom: 4px;
    }
    #header-area {
        height: 122vh;
    }
    .feature-icon {
        margin-left: 25px;
    }
    .header-content {
        padding-top: 100px;
    }
    .client-info::before {
        right: 92%;
    }
    .client-info {
        width: 92%;
        margin-left: 6%;
    }
    .client-info-second::after {
        left: 89.5%;
    }
    .client-info-second {
        width: 92%;
        margin-left: 0;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .client-img2 img {
        margin-left: -65%;
    }
}